body {
    background-color: #E6E6FA;
}

/*.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}*/
  
  /* Hide the images by default 
.slides {
    display: none;
}*/
  
  /* Next & previous buttons 
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}*/
  
  /* Position the "next button" to the right 
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}*/

  /* Number text (1/3 etc) 
.number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}*/
  
  /* The dots/bullets/indicators 
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}*/
  
  /* Fading animation 
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}*/

/*@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}*/

header {
    /*display: block;*/
    text-align: center;
    background-color: #5F9EA0;
}

h1{
    padding: 20px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #388f6f;
}

img {
    width: 50%;
    margin-left: 20%;
}

#infoImg {
    width: 40%;
    margin-left: 5%;
}

aside{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 35%;
    top: 125%;
    left: 45%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    background-color: lightblue;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17pt;
    margin-top: 14px;
    margin-bottom: 10px;
    color: rgb(199, 97, 97);
}

#resumetitle {
    text-align: center;
}

#education {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 10%;
}

#eduheader {
    margin-left: 15%;
    margin-top: 9%;
}

#eduinfo {
    display: flex;
    flex-direction: column;
    width: 55%;
    top: 35%;
    left: 38%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    background-color: lightblue;
}

#work {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 10%;
    margin-top: 10px;
}

#workinfo {
    display: flex;
    flex-direction: column;
    width: 55%;
    top: 79%;
    left: 38%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    background-color: lightblue;
}

#workheader {
    margin-left: 15%;
    margin-top: 12%;
}


footer {
    text-align: center;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
}